@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary:#00838C ;
  --secondary:#09757A;
  --light-1:#D8EFEF;
  --light-2:#FFFFFF;
  --black:#111111;

}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
